In [1]:
import pandas as pd,numpy as np

In [4]:
np.random.seed(101)

In [5]:
matrix = np.random.randint(1,101,500).reshape(100,5)

In [7]:
df = pd.DataFrame(matrix)

In [8]:
 df

      0   1   2   3   4
0    96  12  82  71  64
1    88  76  10  78  41
2     5  64  41  61  93
3    65   6  13  94  41
4    50  84   9  30  60
..  ...  ..  ..  ..  ..
95   88  67  17  61  26
96  100  31  42  73  46
97   27  88  66  61  90
98   71  34  60  29  17
99   50  96  42  12  87

[100 rows x 5 columns]

In [12]:
df.columns = ["f1","f2","f3","f4","label"]

In [10]:
df

     f1  f2  f3  f4  label
0    96  12  82  71     64
1    88  76  10  78     41
2     5  64  41  61     93
3    65   6  13  94     41
4    50  84   9  30     60
..  ...  ..  ..  ..    ...
95   88  67  17  61     26
96  100  31  42  73     46
97   27  88  66  61     90
98   71  34  60  29     17
99   50  96  42  12     87

[100 rows x 5 columns]

In [13]:
arr = np.random.randint(0,101,50*4).reshape(50,4)

In [15]:
df_final = pd.DataFrame(arr,columns=["A","B","C","D"])

In [16]:
df_final

     A   B   C   D
0   15  95  91  19
1   69   1  77  63
2   87  28  70   5
3    3  12  62  26
4   96  61  87  74
5   99  97  64  95
6    3  88  59  38
7   29  31  88  57
8    9  62  31  13
9   35  47   2  17
10  50  22  30  36
11  22  97  51  38
12  28   4   0  12
13  90   2   7  44
14  54  49  76  98
15   3  32  91  43
16   7  42  66   9
17   5  26  66  22
18  47  27  46  14
19  52  74  54   3
20  94  36  63  41
21  18  37  45  82
22  47  66  97  20
23   9  87  40  13
24  95  16  38  87
25  72  60  78  53
26  48  83  90  41
27  84  78  55  70
28  93  57  86  67
29   8  47  70  39
30  53   5  40  88
31  58  12  70   5
32  82   8  60  58
33  45  92  85  44
34  62  39  38  54
35  98  80  93  16
36  37  58  40  72
37  72  22  42  38
38  45  16  52  17
39  22  15  18  37
40  48   2   2  31
41  50  78  70  40
42  60  62  69  34
43  95  58   4  70
44  20  18  66  23
45  87  45  64   6
46  39  29  60  33
47  18  59  64  59
48  65  10  86  66
49  38  76  97  79