In [28]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('salaries.csv')

In [6]:
print(df)

     Name  Salary  Age
0    John   50000   34
1   Sally  120000   45
2  Alyssa   80000   27

In [11]:
print(df["Salary"].min())

50000

In [15]:
 print(df["Age"]>30)

0     True
1     True
2    False
Name: Age, dtype: bool

In [16]:
 print(df[df["Age"]>30])

    Name  Salary  Age
0   John   50000   34
1  Sally  120000   45

In [19]:
print(df["Age"].unique())

[34 45 27]

In [20]:
print(df["Age"].nunique())

3

In [23]:
print(df.columns)

Index(['Name', 'Salary', 'Age'], dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Salary  3 non-null      int64
 2   Age     3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [25]:
df.describe()

              Salary        Age
count       3.000000   3.000000
mean    83333.333333  35.333333
std     35118.845843   9.073772
min     50000.000000  27.000000
25%     65000.000000  30.500000
50%     80000.000000  34.000000
75%    100000.000000  39.500000
max    120000.000000  45.000000

In [27]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
mat = np.arange(0,10).reshape(5,2)

In [34]:
mat

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [42]:
df = pd.DataFrame(data = mat, columns = ["A","B"],
index = ["A","B","C","D","E"])

In [43]:
print(df)

   A  B
A  0  1
B  2  3
C  4  5
D  6  7
E  8  9